<div class="container	content">
  <div class="form-row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>

      <div class="card card-outline-secondary">
        <div class="card-header bg-info text-white">
          <p class="mb-0">Añade tu destino deseado</p>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="nombre">Nombre del destino</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingrese un destino..." #nombre>
            </div>

            <div class="form-group">
              <label for="Imagen	Url">Imagen Url del destino</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese una url..." #url>
            </div>

            <div class="form-group">
              <label for="Imagen	Url">Descripción</label>
              <textarea type="text" class="form-control" id="descripcion" rows="3"
                placeholder="Ingrese una breve descripción..." #descripcion></textarea>
            </div>

            <button type="submit" class="btn btn-success mr-2"
              (click)="guardar(nombre.value, url.value, descripcion.value)">Añadir</button>

            <button type="submit" class="btn btn-primary"
              (click)="limpiar(nombre.value='', url.value='', descripcion.value='')">Limpiar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-5">

  <div class="row row-flex">
    <app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje>
  </div>
</div>
