<div class="container-fluid">
  <div class="jumbotron mt-2 bg-white">
    <p class="display-5">{{ title }}</p>
    <p class="lead">Lista generada con el Framework de Angular, gracias al curso de la Universidad Austral</p>

    <hr class="my-4">
    <div class="form-row">
      <p class="mr-2">Curso impartido por:</p>
      <p class="font-weight-bold font-italic">Sebastián Matías Alonso</p>
    </div>

    <div class="form-row">
      <p class="mr-2">Alumno:</p>
      <p class="font-weight-bold font-italic">Haydychuk Andriy</p>
    </div>
  </div>

  <app-lista-destinos></app-lista-destinos>
</div>

<router-outlet></router-outlet>
